<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Devoir Final Front-End/Back-End </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- BOOTSTRAP AND JQUERY LIBRARY -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/js/functions.js"></script>
</head>
<body>
  <div id="loading"></div>
  <header>
      <nav class="navbar navbar-inverse">
            <div class="dropdown">
                <button class="btn btn-danger navbar-btn" type="button" data-toggle="dropdown">Articles
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li data-id="null"><a href="#" id="add_new_article">Ajouter un article</a></li>
                    <div class="divider"></div>
                  <li data-id="1"><a href="#">Article 1</a></li>
                  <li data-id="2"><a href="#">Article 2</a></li>
                  <li data-id="3"><a href="#">Article 3</a></li>
                </ul>
              </div>
        </nav>    
  </header>
  <div class="jumbotron text-center">
    <h1 id="title_article">Les Articles</h1>
    <p id="welcome_message">Veuillez choisir un article dans le menu déroulant.</p> 

  </div>
    
  <div class="container" id="paragraphes">
        <h3>Paragraphe 1</h3>
        <h3>Paragraphe 2</h3>
        <h3>Paragraphe 3</h3>
  </div>
  
<!-- MODAL TO ADD A NEW ARTICLE -->
<div id="new_article_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ajout d'un nouvel article</h4>
        </div>
        <div class="modal-body">
          <p>Ajout de l'article</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
        </div>
      </div>
  
    </div>
  </div>


  <script id="manage_article">
  //******* ADD A NEW ARTICLE *** //

      $('#add_new_article').click(function() {
        $('#new_article_modal').modal();
      });

  // *** END ADD A NEW ARTICLE ** //


  // **** GET ARTICLE *** //

  $('.dropdown-menu > li').click(function() {
    replaceNameInTheDom($(this).attr('data-id'));
  })

  // ** END GET ARTICLE **/
  
  </script>
</body>
</html>
